.barl {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .progress-bar {
    position: relative;
    width: 50vw;
    height: 3em;
    background-color: #f8e1c6;
    border-radius: 1.5em;
    color: white;
    margin-top: 2vw;
  }
  
  .progress-bar:last-of-type {
    margin-bottom: 3vw;
  }
  
  .progress-bar::before {
    content: attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    bottom: 0.5em;
    width: calc(var(--width, 0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: #188497;
    border-radius: 1em;
    padding: 1em;
  }